.index {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

.choise {
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 2;
    letter-spacing: 4px;
}

.text {
    font-size: 50px;
}

.textAct {
    font-size: 80px;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    opacity: 0.6;
    font-size: 30px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

img {
    height: 80px;
    padding: 30px;
    margin: 30px;
    border: 4px solid black;
    background-color: white;
    opacity: 0.5;
    position:relative;
    overflow: hidden;
    border-radius: 50%;
}

@nav-color-hvr: #9da6b5;
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.6;
}

.navbar li {
     float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-cng{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

li a:hover{
    cursor: pointer;
    background-color: @nav-color-hvr;
}


.rst{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rgt-form{
    padding-left: 400px;
}

.rgt .text{
    padding-left: 100px;
}

.input-rgt{
    opacity: 0.6;
    font-size: 20px;
}

 #crt{
     background-color: @nav-color-hvr;
 }

 .input-rgt input{
     padding-left: 15px;
     height: 30px;
     width: 400px;
 }

 #btn{
    margin-left: 220px;
    border-radius: 12px;
    width: 200px;
    height: 30px;
 }

 #btn:hover {
    cursor: pointer;
    background-color: @nav-color-hvr;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}