body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(./фоон.jpg);
    /* background-position: center center; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}